* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 17px;
    color: #b7bdf8;
    box-shadow: none;
}

window {
    background-color: rgba(30, 30, 46, 0.8);
    padding: 15px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    transition: all 0.3s ease-in-out;
}

/* button:focus, */
button:active,
button:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0 50 0 50px;
    font-weight: bold;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
